@import './dist/scss/variables.scss';

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-weight: 500;
}

body{
  background: $primaria-01;
  color: $neutra-01;
}

ul{
  list-style: none;
}

textarea:focus, input:focus, button{
  outline: none;
}

button{
  cursor: pointer;
}

// Classes
.container{
  width: 30rem;
  margin: 3.1rem auto;
}
